*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(pxogmpzswzdalfx72xi4mdpifpqfyaqvusglaabtqqz0gu7yiqi0xdtzytmmtssx-o.avif);
    background-position: center;
    background-size: cover;
}

#Logo{
    color: white;
    font-size: 20px;
}

.nav{
    display: flex;
    justify-content: center;
    padding: 14px 16px;

}

ul{
    list-style-type: none;
    padding: 15px;
}

li{
    float: left;
    padding: 10px;
    list-style-type: none;
    align-items: center;

}

li a{
color: rgb(0, 0, 0);
font-size: 24;
padding: 15px;
margin: 15px;
text-decoration: none;
}

li a:hover{
    color: rgb(255, 255, 255);
}

li a:hover {
    font-size: 25px;

}

li a{
    position: relative;
    border: 50px;
    color: white;
    background-color: black;
    margin: 50px 24px;
    padding: 1rem 3rem;
    left: 23%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#Logo{
    width: 100px;
    height: 175px;
    margin: 1px;

}

main{
    flex; 1:
    padding: 20px;
}


.products {
    display: flex;
    flex-wrap: wrap;
    float: left;
}

.product {
    height: 200px;
    width: 150px;
    border: 3px solid black;
    padding: 30px;
    margin: 25px;
    text-align: center;
}

.product img{
    width: 60px;
    max-height: 50px;
    object-fit: cover;
    object-position: ;
    width: 50%;
    height: 50vh;
    margin top: 20px;

}

.product h2{
    color: black;
    margin-top: 50px;
    
}

.product button{
    display: flex;
    margin-left: 25px;
    padding: 13px 16px;
    background-color: bisque;
} 

.product button:hover{
    font-size: 15px;
}

.product1 img{
    width: 60px;
    max-height: 50px;
    object-fit: cover;
    object-position: ;
    width: 50%;
    height: 50vh;
    margin top: 20px;

}

.product1 button:hover{
    font-size: 15px;
}

.product1 button{
    display: flex;
    margin-left: 80px;
    padding: 13px 16px;
    background-color: bisque;
} 

.product1 h2{
    color: black;
    margin-top: 60px;
    
}

.product1 {
    height: 200px;
    width: 250px;
    border: 5px solid black;
    padding: 30px;
    margin: 20px;
    text-align: center;
}

.products2 {
    display: flex;
    flex-wrap: wrap;
    float: left;
}

#div1{
    border: 5px solid black;
    width:550px;
    height:300px;
    float: right;
    font-size: 30px;
}

#div2{
  
}

#div2 button{
    display: flex;
    margin-left: 80px;
    padding: 13px 16px;
    background-color: bisque;
}

#div2 button:hover{
    font-size: 15px;
}





